In [1]:
import sqlite3

# conn = sqlite3.connect(':memory:')

conn = sqlite3.connect('customer.db')

In [2]:
! dir

customer.db  sample_data

In [3]:
# create a cursor 
c = conn.cursor()

In [4]:
# Create a table 
c.execute("""CREATE TABLE customers (
		first_name text,
		last_name text,
		email text
		)""")


# commit our command
conn.commit()

In [5]:
c.execute("INSERT INTO customers VALUES ('John', 'Elder', 'john@gmail.com')")
conn.commit()
conn.close()

In [6]:
import sqlite3

# conn = sqlite3.connect(':memory:')

conn = sqlite3.connect('customer.db')

c = conn.cursor()

c.execute("INSERT INTO customers VALUES ('Mary', 'Brown', 'mary@gmail.com')")
conn.commit()

In [7]:
import sqlite3

conn = sqlite3.connect('customer.db')

c = conn.cursor()

many_customers = [
                  ('Wes', 'Brown', 'wes@brown.com'), 
                  ('Steph', 'Kuewa', 'steph@kuewa.com'),
                  ('Dan', 'Pas', 'dan@pas.com')
                ]

c.executemany("INSERT INTO customers VALUES (?,?,?)", many_customers)
conn.commit()
conn.close()

In [8]:
import sqlite3

conn = sqlite3.connect('customer.db')

c = conn.cursor()

# Selects all from customers 
c.execute("SELECT * FROM customers")

#print(c.fetchall())

print(c.fetchone()[0])

conn.commit()
conn.close()

John

In [9]:
import pandas as pd
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("/content/customer.db")
df = pd.read_sql_query("SELECT * from customers", con)

# Verify that result of SQL query is stored in the dataframe
print(df.head(20))

  first_name last_name            email
0       John     Elder   john@gmail.com
1       Mary     Brown   mary@gmail.com
2        Wes     Brown    wes@brown.com
3      Steph     Kuewa  steph@kuewa.com
4        Dan       Pas      dan@pas.com