<a href="https://colab.research.google.com/github/aryanNaik123/learningsqlite/blob/master/database_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Connect to Database

In [19]:
import sqlite3

# conn = sqlite3.connect(':memory:')

conn = sqlite3.connect('customer.db')

# create a cursor 
c = conn.cursor()

## Create a table

In [3]:
# Create a table 
c.execute("""CREATE TABLE customers (
		first_name text,
		last_name text,
		email text
		)""")


# commit our command
conn.commit()

## Insert One Record Into Table

In [4]:
c.execute("INSERT INTO customers VALUES ('John', 'Elder', 'john@gmail.com')")
conn.commit()
conn.close()

In [5]:
import sqlite3

# conn = sqlite3.connect(':memory:')

conn = sqlite3.connect('customer.db')

c = conn.cursor()

c.execute("INSERT INTO customers VALUES ('Mary', 'Brown', 'mary@gmail.com')")
conn.commit()

## Insert Many Records

In [6]:
import sqlite3

conn = sqlite3.connect('customer.db')

c = conn.cursor()

many_customers = [
                  ('Wes', 'Brown', 'wes@brown.com'), 
                  ('Steph', 'Kuewa', 'steph@kuewa.com'),
                  ('Dan', 'Pas', 'dan@pas.com')
                ]

c.executemany("INSERT INTO customers VALUES (?,?,?)", many_customers)
conn.commit()
conn.close()

Query and Fetch all

In [7]:
import sqlite3

conn = sqlite3.connect('customer.db')

c = conn.cursor()

# Selects all from customers 
c.execute("SELECT * FROM customers")

#print(c.fetchall())

print(c.fetchone()[0])

conn.commit()
conn.close()

John

## Formatting

In [8]:
import sqlite3

conn = sqlite3.connect('customer.db')

c = conn.cursor()

# Selects all from customers 
c.execute("SELECT * FROM customers")

#print(c.fetchall())

items = c.fetchall()
for item in items: 
  print(item[0] + " " + item[1] + "\t\t" + item[2])
conn.commit()
conn.close()

John Elder		john@gmail.com
Mary Brown		mary@gmail.com
Wes Brown		wes@brown.com
Steph Kuewa		steph@kuewa.com
Dan Pas		dan@pas.com

## Primary Key

In [18]:
import sqlite3

conn = sqlite3.connect('customer.db')

c = conn.cursor()

# Selects all from customers 
c.execute("SELECT rowid, * FROM customers")

#print(c.fetchall())

items = c.fetchall()
for item in items: 
  print(item)
conn.commit()
conn.close()

(1, 'John', 'Elder', 'john@gmail.com')
(2, 'Mary', 'Brown', 'mary@gmail.com')
(3, 'Wes', 'Brown', 'wes@brown.com')
(4, 'Wes', 'Kuewa', 'steph@kuewa.com')
(5, 'Dan', 'Pas', 'dan@pas.com')

## WHERE clause

In [9]:
import sqlite3

conn = sqlite3.connect('customer.db')

c = conn.cursor()

#c.execute("SELECT * FROM customers WHERE last_name LIKE 'Br%'")

c.execute("SELECT * FROM customers WHERE email LIKE '%gmail.com'")


items = c.fetchall()
for item in items: 
  print(item)
conn.commit()
conn.close()

('John', 'Elder', 'john@gmail.com')
('Mary', 'Brown', 'mary@gmail.com')

## Update

In [10]:
import sqlite3

conn = sqlite3.connect('customer.db')

c = conn.cursor()

#c.execute("""UPDATE customers SET first_name = 'Bob'
#            WHERE last_name = 'Elder'""")

conn.commit()

#c.execute("UPDATE customers SET first_name = 'John' WHERE rowid = 1")

c.execute("UPDATE customers SET first_name = 'Wes' WHERE rowid = 4")

c.execute("SELECT rowid, * FROM customers")

items = c.fetchall()
for item in items: 
  print(item)
conn.commit()
conn.close()

(1, 'John', 'Elder', 'john@gmail.com')
(2, 'Mary', 'Brown', 'mary@gmail.com')
(3, 'Wes', 'Brown', 'wes@brown.com')
(4, 'Wes', 'Kuewa', 'steph@kuewa.com')
(5, 'Dan', 'Pas', 'dan@pas.com')

## Delete

In [11]:
import sqlite3

conn = sqlite3.connect('customer.db')

c = conn.cursor()

c.execute("DELETE from customers WHERE rowid = 6")

conn.commit()

c.execute("SELECT rowid, * FROM customers")

items = c.fetchall()
for item in items: 
  print(item)
conn.commit()
conn.close()

(1, 'John', 'Elder', 'john@gmail.com')
(2, 'Mary', 'Brown', 'mary@gmail.com')
(3, 'Wes', 'Brown', 'wes@brown.com')
(4, 'Wes', 'Kuewa', 'steph@kuewa.com')
(5, 'Dan', 'Pas', 'dan@pas.com')

## Order Results

In [12]:
import sqlite3

conn = sqlite3.connect('customer.db')

c = conn.cursor()


c.execute("SELECT rowid, * FROM customers ORDER BY last_name DESC")

items = c.fetchall()
for item in items: 
  print(item)
conn.commit()
conn.close()

(5, 'Dan', 'Pas', 'dan@pas.com')
(4, 'Wes', 'Kuewa', 'steph@kuewa.com')
(1, 'John', 'Elder', 'john@gmail.com')
(2, 'Mary', 'Brown', 'mary@gmail.com')
(3, 'Wes', 'Brown', 'wes@brown.com')

## And/Or

In [13]:
import sqlite3

conn = sqlite3.connect('customer.db')

c = conn.cursor()


c.execute("SELECT rowid, * FROM customers WHERE last_name LIKE 'Br%' AND rowid = 3")

items = c.fetchall()
for item in items: 
  print(item)
conn.commit()
conn.close()

(3, 'Wes', 'Brown', 'wes@brown.com')

## Limit

In [16]:
import sqlite3

conn = sqlite3.connect('customer.db')

c = conn.cursor()


c.execute("SELECT rowid, * FROM customers LIMIT 2")

items = c.fetchall()
for item in items: 
  print(item)
conn.commit()
conn.close()

(1, 'John', 'Elder', 'john@gmail.com')
(2, 'Mary', 'Brown', 'mary@gmail.com')

In [15]:
import pandas as pd
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("/content/customer.db")
df = pd.read_sql_query("SELECT * from customers", con)

# Verify that result of SQL query is stored in the dataframe
print(df.head(20))

  first_name last_name            email
0       John     Elder   john@gmail.com
1       Mary     Brown   mary@gmail.com
2        Wes     Brown    wes@brown.com
3        Wes     Kuewa  steph@kuewa.com
4        Dan       Pas      dan@pas.com